body {
    background-color: rgb(255, 0, 119);
    margin: 0;
}

p {
    margin: 0;
}

.envitation {
    height: 10vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    font-style: italic;
    font-weight: bold;
    color: yellowgreen;
    text-shadow: 1px 1px 5px black, 0 0 10px black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}